@font-face {
	font-family: 'copperplate_gothic_lightRg';
	src: url(../../assets/fonts/coprgtl-webfont.woff2) format('woff2'),
	url(../../assets/fonts/coprgtl-webfont.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}